body {
background: rgb(174, 174, 202);
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: indigo;
text-align: center;
}
#about-me-heading {
color: red;
}
#skills-heading {
color: white;
}
#highlighted-projects-heading {
color: blue;
}
#contact-me-heading {
    color: olivedrab;
}
.projects { 
    display:flex;
     flex-wrap:wrap; 
    } /* condensed to save space */
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: white; /* pick a color */
    border-radius: 25%;
}
.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(126, 14, 201); /* choose a color */
    display: block;
    margin: auto;
}